$theme-colors: (
  "primary": #666699,
);

$font-stack: Helvetica, sans-serif;

body {
  font: 100% $font-stack;
}

p {  text-align: center;}

img {
  max-width: 500px;
}

button {
  margin: 0 auto;
  display: block;
}
