

$theme-colors: (
  "primary": #666699,
);

$font-stack: Helvetica, sans-serif;

body {
  font: 100% $font-stack;
}

h1, .lead {  color: #fff;}

p {  text-align: center;}


p button {
  margin: 0 auto;
  padding: 1em;
  display: block;
  margin-top: .5em!important;
}


.img-fluid {max-width: 100px!important}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/bg.png');
  background-repeat: repeat;
}